services:
  versatil-frontend:
    image: versatil-frontend
    container_name: versatil-frontend
    restart: unless-stopped
    build:
      context: ./versatiL/versatil-frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"


  versatil-backend:
    image: versatil-backend
    container_name: versatil-backend
    restart: unless-stopped
    build:
      context: ./versatil/versatil-backend
      dockerfile: Dockerfile
    env_file:
     - ./versatiL/.env
